
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body {
    font-family: 'Fredoka', sans-serif;
}
/*Fonts*/

/* Colores */

.azul{
    background-color: #22577A;
}

.cadet{
    background-color: #38A3A5;
}

.ocean{
    background-color: #57CC99;
}

.light{
    background-color: #80ED99;
}

.tea{
    background-color: #C7F9CC;
}

.degradado {
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(56, 163, 165, 1), rgba(34, 87, 122, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(56, 163, 165, 1), rgba(34, 87, 122, 1))
  }

a{
    color: black;
}

/* Colores */

/*Hover*/
.navegacion a:hover, .navegacion img:hover{
    background-color: #22577A;
    color: white !important;
    border-radius: 5px;
}

.card:hover{
    transition: 0.7s;
    transform: scale(1.05);
}

.icon:hover{
    transition:0.5s;
    transform: scale(1.2);
}
/*Hover*/


